@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(216, 216, 216);
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.light {
    font-weight: 300;
} 

.wrapper {
    display: flex;
    justify-content: center;
}

input {
    width: 256px;
    height: 34px;
    border: 0.1px solid #222222;
    border-radius: 2px;
    outline: none;
    background: #ffffff;
    margin-inline-end: 17px;
    background-color: rgb(190, 189, 189);
}

.wrapper2  {
    display: flex;
    justify-content: center;
}
.flex__element{
    display: flex;
    justify-content: center;
}

.d1 input {
    width: 256px;
    height: 34px;
    border: 0.1px solid #222222;
    border-radius: 2px;
    outline: none;
    background: #ffffff;
    margin-inline-end: 17px;
    background-color: rgb(190, 189, 189);
    width: 528px;
    height: 200px;
    margin-top: 0px;
}
.flex__element {
    display: flex;
    align-items: center;
  }
  
h4 {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 35px;
}

.btn {
    width: 100px;
    height: 44px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-blue {
    background-color: rgb(99, 102, 241);
    color: white;
}

.btn-blue:hover {
    background-color: rgb(57, 61, 233);
}


.btn-light {
    background-color: rgb(97, 123, 175);
    margin-left: 12px;
    
}

.button {
    display: flex;
    justify-content: center;
}
* {box-sizing: border-box;}