@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(189, 189, 189);
}
.container-wrapper {
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1080px;
    width: 1080px;
}

.columns-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.light {
    font-weight: 300;
}

.box {
    border: 1px solid rgb(77, 77, 77);
    border-radius: 5px;
    background-color: darkgrey;
    width: 350px;
    height: 250px;
  }
    
  .btn {
    width: 100px;
    height: 44px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-blue {
    background-color: rgb(99, 102, 241);
    color: white;
}

.btn-container {

}

.btn-blue:hover {
    background-color: rgb(57, 61, 233);
}


.btn-light {
    background-color: rgb(97, 123, 175);
    margin-left: 12px;
    
}
/*
.box {
    display: flex;
    justify-content: center;
}
*/